body {
  background: #000318;
}

#content {
  width: 90%;
  max-width: 900px;
  margin: auto;
  position: relative;
  padding: 170px 0 60px 0;
}

#big-logo-3d-container {
  position: absolute;
  width: 700px;
  z-index: -1;
  right: -240px;
  top: -20px;
}

#small-logo-3d-container canvas {
  position: absolute;
  width: 100px;
  z-index: -1;
}
